.Todo {
  background: #efefef;
  text-align: center;
  margin: 20px 0;
  border-radius: 10px;
  padding: 10px;
}

.Todo h1 {
  font-size: 16px;
  margin: 0;
  font-weight: normal;
}

.Todo p {
  color: #999;
  margin: 5px 0;
}

.Todo .ion-item {
  width: 50%;
  margin: 10px auto;
  border-radius: 10px;
}
