.NewTodo {
  text-align: center;
  background: #efefef;
  border-radius: 10px;
  overflow: auto;
}

.NewTodo h1 {
  margin: 10px 0;
}

.NewTodo .text-input {
  background: #bbb;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}

.NewTodo .submit-button {
  margin: 10px 0;
}
